## Nettoyage des données des Valeurs Foncières 2020

In [1]:
#### EXPLORING THE DATASET ####
import pandas as pd

# Read in the data
df_2020 = pd.read_csv('ValeursFoncieres-2020.txt', delimiter='|')

df_2020.head()

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_2583/3628343591.py:5: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv('ValeursFoncieres-2020.txt', delimiter='|')

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148.0

In [2]:
#### BASIC INFO ABOUT THE DATA ####
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522100 entries, 0 to 3522099
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(17), int64(4), object(22)
memory usage: 1.1+ GB

In [3]:
#### SHOW IF THERE ARE MISSING VALUES ####
df_2020.isnull().sum()

Identifiant de document       3522100
Reference document            3522100
1 Articles CGI                3522100
2 Articles CGI                3522100
3 Articles CGI                3522100
4 Articles CGI                3522100
5 Articles CGI                3522100
No disposition                      0
Date mutation                       0
Nature mutation                     0
Valeur fonciere                 50664
No voie                       1404037
B/T/Q                         3367834
Type de voie                  1463030
Code voie                       32022
Voie                            32058
Code postal                     32165
Commune                             0
Code departement                    0
Code commune                        0
Prefixe de section            3351830
Section                           110
No plan                             0
No Volume                     3512798
1er lot                       2417875
Surface Carrez du 1er lot     3233716
2eme lot                      3281905
Surface Carrez du 2eme lot    3447229
3eme lot                      3481253
Surface Carrez du 3eme lot    3514588
4eme lot                      3508478
Surface Carrez du 4eme lot    3520197
5eme lot                      3515789
Surface Carrez du 5eme lot    3521306
Nombre de lots                      0
Code type local               1537733
Type local                    1537733
Identifiant local             3522100
Surface reelle bati           1539974
Nombre pieces principales     1539974
Nature culture                1119329
Nature culture speciale       3368576
Surface terrain               1119329
dtype: int64

In [5]:
#### DELETE THE COLUMNS WHERE THERE ARE MORE THAN 50% MISSING VALUES ####

threshold = len(df_2020)*0.5
df_2020 = df_2020.dropna(axis=1, thresh = threshold)
df_2020.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Code commune,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,1,07/01/2020,Vente,"8000,00",NaN,NaN,B063,FORTUNAT,1250.0,CEYZERIAT,...,72,AK,216,0,NaN,NaN,NaN,NaN,T,1061.0
1,1,02/01/2020,Vente,"2175,00",NaN,NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,...,203,B,4,0,NaN,NaN,NaN,NaN,BT,85.0
2,1,02/01/2020,Vente,"2175,00",NaN,NaN,B006,BOIS DU CHAMP RION,1290.0,LAIZ,...,203,B,173,0,NaN,NaN,NaN,NaN,T,1115.0
3,1,02/01/2020,Vente,"2175,00",NaN,NaN,B025,EN COROBERT,1290.0,LAIZ,...,203,B,477,0,NaN,NaN,NaN,NaN,T,1940.0
4,1,02/01/2020,Vente,"2175,00",NaN,NaN,B124,TERRES DES CINQ SAULES,1290.0,LAIZ,...,203,C,68,0,NaN,NaN,NaN,NaN,T,1148.0

In [15]:
#### CHECK IF VALEUR FONCIERE IS NULL ####
df_2020.isnull().sum()

Date mutation                2059204
Nature mutation                    0
Valeur fonciere                    0
Voie                               0
Code postal                        0
Commune                            0
Code departement                   0
Code commune                       0
Nombre de lots                     0
Code type local                    0
Type local                         0
Surface reelle bati                0
Nombre pieces principales          0
Surface terrain                    0
dtype: int64

In [6]:
#### DELETE ROWS WHERE 'VALEUR FONCIERE' IS NULL ####
#df_2020.dropna(subset=['Valeur fonciere'], inplace=True)
#df_2020.head()

In [7]:
#### DELETE COLUMNS WE DONT WANT TO ANALYSE ####
df_2020.drop(['No voie', 'Type de voie', 'Nature culture',  'Section',  'No plan', 'No disposition', 'Code voie'], axis=1, inplace=True)
df_2020.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,07/01/2020,Vente,"8000,00",FORTUNAT,1250.0,CEYZERIAT,1,72,0,NaN,NaN,NaN,NaN,1061.0
1,02/01/2020,Vente,"2175,00",TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,0,NaN,NaN,NaN,NaN,85.0
2,02/01/2020,Vente,"2175,00",BOIS DU CHAMP RION,1290.0,LAIZ,1,203,0,NaN,NaN,NaN,NaN,1115.0
3,02/01/2020,Vente,"2175,00",EN COROBERT,1290.0,LAIZ,1,203,0,NaN,NaN,NaN,NaN,1940.0
4,02/01/2020,Vente,"2175,00",TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,0,NaN,NaN,NaN,NaN,1148.0

In [8]:
#### REPLACE MISSING VALUES IN COLUMNS WE WANT ####
df_2020.fillna(0, inplace=True)
df_2020.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,07/01/2020,Vente,"8000,00",FORTUNAT,1250.0,CEYZERIAT,1,72,0,0.0,0,0.0,0.0,1061.0
1,02/01/2020,Vente,"2175,00",TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,85.0
2,02/01/2020,Vente,"2175,00",BOIS DU CHAMP RION,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,1115.0
3,02/01/2020,Vente,"2175,00",EN COROBERT,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,1940.0
4,02/01/2020,Vente,"2175,00",TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,1148.0

In [9]:
#### CHECK TYPE ####
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522100 entries, 0 to 3522099
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              object
 1   Nature mutation            object
 2   Valeur fonciere            object
 3   Voie                       object
 4   Code postal                float64
 5   Commune                    object
 6   Code departement           object
 7   Code commune               int64
 8   Nombre de lots             int64
 9   Code type local            float64
 10  Type local                 object
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
dtypes: float64(5), int64(2), object(7)
memory usage: 376.2+ MB

In [10]:
#### CONVERTS TO THE RIGHT TYPE ####

category_convert = ['Nature mutation', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Code type local', 'Type local']
df_2020[category_convert] = df_2020[category_convert].astype('category')

df_2020['Date mutation'] = pd.to_datetime(df_2020['Date mutation'], errors = 'coerce')

df_2020['Valeur fonciere']=df_2020['Valeur fonciere'].replace({'\xa0':'',',':'.'}, regex=True)
df_2020['Valeur fonciere']=pd.to_numeric(df_2020['Valeur fonciere'], errors='coerce')

df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522100 entries, 0 to 3522099
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              datetime64[ns]
 1   Nature mutation            category
 2   Valeur fonciere            float64
 3   Voie                       category
 4   Code postal                category
 5   Commune                    category
 6   Code departement           category
 7   Code commune               category
 8   Nombre de lots             int64
 9   Code type local            category
 10  Type local                 category
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
dtypes: category(8), datetime64[ns](1), float64(4), int64(1)
memory usage: 229.2 MB

In [11]:
#### CHECK FOR DUPLICATES ####
df_2020.duplicated().sum()

387301

In [12]:
#### DELETE DUPLICATES ####

df_2020.drop_duplicates(keep='last', inplace=True)
df_2020.duplicated().sum()

0

In [13]:
df_2020.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,2020-07-01,Vente,8000.0,FORTUNAT,1250.0,CEYZERIAT,1,72,0,0.0,0,0.0,0.0,1061.0
1,2020-02-01,Vente,2175.0,TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,85.0
2,2020-02-01,Vente,2175.0,BOIS DU CHAMP RION,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,1115.0
3,2020-02-01,Vente,2175.0,EN COROBERT,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,1940.0
4,2020-02-01,Vente,2175.0,TERRES DES CINQ SAULES,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,1148.0

In [14]:
#### SAVE DATAFRAME ####

#df_2020.to_csv('df_2020.csv', index=False)