## Nettoyage des données des Valeurs Foncières 2022

In [1]:
#### EXPLORING THE DATASET ####
import pandas as pd
import numpy as np
import matplotlib 

# Read in the data

df_2022=pd.read_csv('valeursfoncieres-2022.txt', delimiter='|')

df_2022.head()

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_2958/2122290933.py:8: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022=pd.read_csv('valeursfoncieres-2022.txt', delimiter='|')

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0

In [2]:
print("Taille des données :",df_2022.shape)
df_2022.info()

Taille des données : (4667090, 43)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4667090 entries, 0 to 4667089
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(17), int64(4), object(22)
memory usage: 1.5+ GB

In [3]:
df_2022.describe()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,No voie,Code postal,...,Prefixe de section,No plan,4eme lot,5eme lot,Nombre de lots,Code type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Surface terrain
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.667090e+06,2.995526e+06,4.630002e+06,...,217774.000000,4.667090e+06,26869.000000,11547.000000,4.667090e+06,2.810515e+06,0.0,2.807712e+06,2.807712e+06,3.126122e+06
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.377645e+00,7.049185e+02,5.004158e+04,...,462.787041,4.151511e+02,99.826194,117.947432,4.567133e-01,2.274572e+00,NaN,6.453798e+01,1.748806e+00,2.796740e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.511332e+01,2.000813e+03,2.734574e+04,...,320.334573,5.885549e+02,2008.929881,3016.801798,8.646327e-01,9.199373e-01,NaN,5.599501e+02,2.066380e+00,1.562709e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+03,...,1.000000,1.000000e+00,2.000000,2.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,8.000000e+00,2.826000e+04,...,172.000000,8.600000e+01,7.000000,7.000000,0.000000e+00,1.000000e+00,NaN,0.000000e+00,0.000000e+00,2.450000e+02
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,2.500000e+01,4.925000e+04,...,355.000000,2.230000e+02,19.000000,17.000000,0.000000e+00,2.000000e+00,NaN,3.000000e+01,1.000000e+00,6.090000e+02
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,9.900000e+01,7.500800e+04,...,828.000000,5.060000e+02,57.000000,50.000000,1.000000e+00,3.000000e+00,NaN,8.000000e+01,3.000000e+00,1.675000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.246000e+03,9.999000e+03,9.749000e+04,...,950.000000,9.971000e+03,221311.000000,221312.000000,1.880000e+02,4.000000e+00,NaN,2.900000e+05,9.000000e+01,4.625500e+06

In [4]:
#uslness_col = ['Reference document','1 Articles CGI','2 Articles CGI','3 Articles CGI','4 Articles CGI','5 Articles CGI']
#df_2022 = df_2022.drop(columns=uslness_col)
#df_2022.describe()

In [5]:
#Detection
#df_2022.isna().sum(axis=0)

In [6]:
#pourcentage_na = df_2022.isna().mean() * 100
#print(pourcentage_na)

In [7]:
#print(df_2022.shape)
#df_2022 = df_2022.dropna(axis=1, how='all')
#print(df_2022.shape)

In [8]:
#### DELETE THE COLUMNS WHERE THERE ARE MORE THAN 50% MISSING VALUES ####

threshold = len(df_2022)*0.5
df_2022 = df_2022.dropna(axis=1, thresh = threshold)
df_2022.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Code commune,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,1,03/01/2022,Vente,"55000,00",13.0,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,...,53,AM,102,1,2.0,Appartement,24.0,1.0,NaN,NaN
1,1,03/01/2022,Vente,"143000,00",NaN,NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,...,398,ZE,184,0,NaN,NaN,NaN,NaN,S,84.0
2,1,03/01/2022,Vente,"143000,00",NaN,NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,...,398,ZE,185,0,NaN,NaN,NaN,NaN,S,88.0
3,1,03/01/2022,Vente,"143000,00",98.0,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,...,398,ZE,187,1,2.0,Appartement,140.0,3.0,NaN,NaN
4,1,04/01/2022,Vente,"300,00",NaN,NaN,B031,AUX PIERRES,1480.0,MESSIMY SUR SAONE,...,243,A,643,0,NaN,NaN,NaN,NaN,T,510.0

In [9]:
df_2022.isnull().sum()

No disposition                     0
Date mutation                      0
Nature mutation                    0
Valeur fonciere                31573
No voie                      1671564
Type de voie                 1785408
Code voie                      36903
Voie                           37058
Code postal                    37088
Commune                            0
Code departement                   0
Code commune                       0
Section                          158
No plan                            0
Nombre de lots                     0
Code type local              1856575
Type local                   1856575
Surface reelle bati          1859378
Nombre pieces principales    1859378
Nature culture               1540968
Surface terrain              1540968
dtype: int64

In [10]:
#### DELETE ROWS WHERE 'VALEUR FONCIERE' IS NULL ####
df_2022.dropna(subset=['Valeur fonciere'], inplace=True)
df_2022.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Code commune,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,1,03/01/2022,Vente,"55000,00",13.0,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,...,53,AM,102,1,2.0,Appartement,24.0,1.0,NaN,NaN
1,1,03/01/2022,Vente,"143000,00",NaN,NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,...,398,ZE,184,0,NaN,NaN,NaN,NaN,S,84.0
2,1,03/01/2022,Vente,"143000,00",NaN,NaN,B010,CHAMP COCHET,1480.0,SAVIGNEUX,...,398,ZE,185,0,NaN,NaN,NaN,NaN,S,88.0
3,1,03/01/2022,Vente,"143000,00",98.0,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,...,398,ZE,187,1,2.0,Appartement,140.0,3.0,NaN,NaN
4,1,04/01/2022,Vente,"300,00",NaN,NaN,B031,AUX PIERRES,1480.0,MESSIMY SUR SAONE,...,243,A,643,0,NaN,NaN,NaN,NaN,T,510.0

In [11]:
#remplacement 
#df_2022 = df_2022.replace('NAN', 'none')

#suppression de colonnes avec +50% de NAN
#colonnes_a_supp = pourcentage_na[pourcentage_na>50].index
#df = df.drop(columns=colonnes_a_supp)

#colonnes_a_supp.shape

#### DELETE COLUMNS WE DONT WANT TO ANALYSE ####
df_2022.drop(['No voie', 'Type de voie', 'Nature culture',  'Section',  'No plan', 'No disposition', 'Code voie'], axis=1, inplace=True)
df_2022.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,03/01/2022,Vente,"55000,00",DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,53,1,2.0,Appartement,24.0,1.0,NaN
1,03/01/2022,Vente,"143000,00",CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,NaN,NaN,NaN,NaN,84.0
2,03/01/2022,Vente,"143000,00",CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,NaN,NaN,NaN,NaN,88.0
3,03/01/2022,Vente,"143000,00",DE LA DOMBES,1480.0,SAVIGNEUX,1,398,1,2.0,Appartement,140.0,3.0,NaN
4,04/01/2022,Vente,"300,00",AUX PIERRES,1480.0,MESSIMY SUR SAONE,1,243,0,NaN,NaN,NaN,NaN,510.0

In [12]:
df_2022.isnull().sum()

Date mutation                      0
Nature mutation                    0
Valeur fonciere                    0
Voie                           37018
Code postal                    37048
Commune                            0
Code departement                   0
Code commune                       0
Nombre de lots                     0
Code type local              1832382
Type local                   1832382
Surface reelle bati          1835017
Nombre pieces principales    1835017
Surface terrain              1539700
dtype: int64

In [13]:
#### REPLACE MISSING VALUES IN COLUMNS WE WANT ####
df_2022.fillna(0, inplace=True)
df_2022.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,03/01/2022,Vente,"55000,00",DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,53,1,2.0,Appartement,24.0,1.0,0.0
1,03/01/2022,Vente,"143000,00",CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,0.0,0,0.0,0.0,84.0
2,03/01/2022,Vente,"143000,00",CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,0.0,0,0.0,0.0,88.0
3,03/01/2022,Vente,"143000,00",DE LA DOMBES,1480.0,SAVIGNEUX,1,398,1,2.0,Appartement,140.0,3.0,0.0
4,04/01/2022,Vente,"300,00",AUX PIERRES,1480.0,MESSIMY SUR SAONE,1,243,0,0.0,0,0.0,0.0,510.0

In [14]:
#### CHECK FOR DUPLICATES ####
df_2022.drop_duplicates(keep='last', inplace=True)
df_2022.duplicated().sum()

0

In [15]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4002854 entries, 0 to 4667089
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              object
 1   Nature mutation            object
 2   Valeur fonciere            object
 3   Voie                       object
 4   Code postal                float64
 5   Commune                    object
 6   Code departement           object
 7   Code commune               int64
 8   Nombre de lots             int64
 9   Code type local            float64
 10  Type local                 object
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
dtypes: float64(5), int64(2), object(7)
memory usage: 458.1+ MB

In [16]:
#### CONVERTS TO THE RIGHT TYPE ####

category_convert = ['Nature mutation', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Code type local', 'Type local']
df_2022[category_convert] = df_2022[category_convert].astype('category')

df_2022['Date mutation'] = pd.to_datetime(df_2022['Date mutation'], errors = 'coerce')

df_2022['Valeur fonciere']=df_2022['Valeur fonciere'].replace({'\xa0':'',',':'.'}, regex=True)
df_2022['Valeur fonciere']=pd.to_numeric(df_2022['Valeur fonciere'], errors='coerce')

df_2022.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4002854 entries, 0 to 4667089
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              datetime64[ns]
 1   Nature mutation            category
 2   Valeur fonciere            float64
 3   Voie                       category
 4   Code postal                category
 5   Commune                    category
 6   Code departement           category
 7   Code commune               category
 8   Nombre de lots             int64
 9   Code type local            category
 10  Type local                 category
 11  Surface reelle bati        float64
 12  Nombre pieces principales  float64
 13  Surface terrain            float64
dtypes: category(8), datetime64[ns](1), float64(4), int64(1)
memory usage: 288.6 MB

In [17]:
df_2022.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,2022-03-01,Vente,55000.0,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,53,1,2.0,Appartement,24.0,1.0,0.0
1,2022-03-01,Vente,143000.0,CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,0.0,0,0.0,0.0,84.0
2,2022-03-01,Vente,143000.0,CHAMP COCHET,1480.0,SAVIGNEUX,1,398,0,0.0,0,0.0,0.0,88.0
3,2022-03-01,Vente,143000.0,DE LA DOMBES,1480.0,SAVIGNEUX,1,398,1,2.0,Appartement,140.0,3.0,0.0
4,2022-04-01,Vente,300.0,AUX PIERRES,1480.0,MESSIMY SUR SAONE,1,243,0,0.0,0,0.0,0.0,510.0

In [19]:
#### SAVE DATAFRAME ####

#df_2022.to_csv('df_2022.csv', index=False)