## Nettoyage des données des Valeurs Foncières 2024-S1

In [1]:
#### EXPLORING THE DATASET ####
import pandas as pd

# Read in the data
df_2024 = pd.read_csv('ValeursFoncieres-2024-S1.txt', delimiter='|')

df_2024.head()

/var/folders/ql/7rnwb81s5ms8q8f6v8hbbkb00000gn/T/ipykernel_3072/2704409955.py:5: DtypeWarning: Columns (14,18,23,24,26,28,30,31,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv('ValeursFoncieres-2024-S1.txt', delimiter='|')

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,99.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,03/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,115.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2024,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,497.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2024,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN

In [2]:
#### BASIC INFO ABOUT THE DATA ####
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566643 entries, 0 to 1566642
Data columns (total 43 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Identifiant de document     0 non-null        float64
 1   Reference document          0 non-null        float64
 2   1 Articles CGI              0 non-null        float64
 3   2 Articles CGI              0 non-null        float64
 4   3 Articles CGI              0 non-null        float64
 5   4 Articles CGI              0 non-null        float64
 6   5 Articles CGI              0 non-null        float64
 7   No disposition              1566643 non-null  int64
 8   Date mutation               1566643 non-null  object
 9   Nature mutation             1566643 non-null  object
 10  Valeur fonciere             1549589 non-null  object
 11  No voie                     946773 non-null   float64
 12  B/T/Q                       67087 non-null    object
 13  Type de voie                912892 non-null   object
 14  Code voie                   1558442 non-null  object
 15  Voie                        1558411 non-null  object
 16  Code postal                 1558158 non-null  float64
 17  Commune                     1566643 non-null  object
 18  Code departement            1566643 non-null  object
 19  Code commune                1566643 non-null  int64
 20  Prefixe de section          75237 non-null    float64
 21  Section                     1566597 non-null  object
 22  No plan                     1566643 non-null  int64
 23  No Volume                   3625 non-null     object
 24  1er lot                     464225 non-null   object
 25  Surface Carrez du 1er lot   135310 non-null   object
 26  2eme lot                    147516 non-null   object
 27  Surface Carrez du 2eme lot  45120 non-null    object
 28  3eme lot                    25067 non-null    object
 29  Surface Carrez du 3eme lot  4970 non-null     object
 30  4eme lot                    7720 non-null     object
 31  Surface Carrez du 4eme lot  1116 non-null     object
 32  5eme lot                    3017 non-null     float64
 33  Surface Carrez du 5eme lot  320 non-null      object
 34  Nombre de lots              1566643 non-null  int64
 35  Code type local             879876 non-null   float64
 36  Type local                  879876 non-null   object
 37  Identifiant local           0 non-null        float64
 38  Surface reelle bati         878849 non-null   float64
 39  Nombre pieces principales   878849 non-null   float64
 40  Nature culture              1095453 non-null  object
 41  Nature culture speciale     73429 non-null    object
 42  Surface terrain             1095453 non-null  float64
dtypes: float64(16), int64(4), object(23)
memory usage: 514.0+ MB

In [3]:
#### SHOW IF THERE ARE MISSING VALUES ####
df_2024.isnull().sum()

Identifiant de document       1566643
Reference document            1566643
1 Articles CGI                1566643
2 Articles CGI                1566643
3 Articles CGI                1566643
4 Articles CGI                1566643
5 Articles CGI                1566643
No disposition                      0
Date mutation                       0
Nature mutation                     0
Valeur fonciere                 17054
No voie                        619870
B/T/Q                         1499556
Type de voie                   653751
Code voie                        8201
Voie                             8232
Code postal                      8485
Commune                             0
Code departement                    0
Code commune                        0
Prefixe de section            1491406
Section                            46
No plan                             0
No Volume                     1563018
1er lot                       1102418
Surface Carrez du 1er lot     1431333
2eme lot                      1419127
Surface Carrez du 2eme lot    1521523
3eme lot                      1541576
Surface Carrez du 3eme lot    1561673
4eme lot                      1558923
Surface Carrez du 4eme lot    1565527
5eme lot                      1563626
Surface Carrez du 5eme lot    1566323
Nombre de lots                      0
Code type local                686767
Type local                     686767
Identifiant local             1566643
Surface reelle bati            687794
Nombre pieces principales      687794
Nature culture                 471190
Nature culture speciale       1493214
Surface terrain                471190
dtype: int64

In [4]:
#### DELETE THE COLUMNS WHERE THERE ARE MORE THAN 50% MISSING VALUES ####

threshold = len(df_2024)*0.5
df_2024 = df_2024.dropna(axis=1, thresh = threshold)
df_2024.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Code commune,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,1,02/01/2024,Vente,"346,50",NaN,NaN,B020,LE DELIVRE,1230.0,CHALEY,...,76,B,514,0,NaN,NaN,NaN,NaN,P,99.0
1,2,03/01/2024,Vente,"10000,00",NaN,NaN,B007,CHEVRY DESSOUS,1170.0,CHEVRY,...,103,B,1782,0,NaN,NaN,NaN,NaN,S,115.0
2,1,08/01/2024,Vente,"249000,00",NaN,NaN,B086,PIN HAMEAU,1290.0,LAIZ,...,203,C,1065,0,NaN,NaN,NaN,NaN,S,497.0
3,1,03/01/2024,Vente,"329500,00",29.0,PL,0500,DU JURA,1170.0,GEX,...,173,AI,551,2,3.0,Dépendance,0.0,0.0,NaN,NaN
4,1,03/01/2024,Vente,"329500,00",29.0,PL,0500,DU JURA,1170.0,GEX,...,173,AI,551,2,3.0,Dépendance,0.0,0.0,NaN,NaN

In [15]:
#### CHECK IF VALEUR FONCIERE IS NULL ####
df_2024.isnull().sum()

Date mutation                923401
Nature mutation                   0
Valeur fonciere                   0
Voie                              0
Code postal                       0
Commune                           0
Code departement                  0
Code commune                      0
Nombre de lots                    0
Code type local                   0
Type local                        0
Surface reelle bati               0
Nombre pieces principales         0
Surface terrain                   0
dtype: int64

In [5]:
#### DELETE ROWS WHERE 'VALEUR FONCIERE' IS NULL ####
#df_2024.dropna(subset=['Valeur fonciere'], inplace=True)
#df_2024.head()

In [6]:
#### DELETE COLUMNS WE DONT WANT TO ANALYSE ####
df_2024.drop(['No voie', 'Type de voie', 'Nature culture',  'Section',  'No plan', 'No disposition', 'Code voie'], axis=1, inplace=True)
df_2024.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,02/01/2024,Vente,"346,50",LE DELIVRE,1230.0,CHALEY,1,76,0,NaN,NaN,NaN,NaN,99.0
1,03/01/2024,Vente,"10000,00",CHEVRY DESSOUS,1170.0,CHEVRY,1,103,0,NaN,NaN,NaN,NaN,115.0
2,08/01/2024,Vente,"249000,00",PIN HAMEAU,1290.0,LAIZ,1,203,0,NaN,NaN,NaN,NaN,497.0
3,03/01/2024,Vente,"329500,00",DU JURA,1170.0,GEX,1,173,2,3.0,Dépendance,0.0,0.0,NaN
4,03/01/2024,Vente,"329500,00",DU JURA,1170.0,GEX,1,173,2,3.0,Dépendance,0.0,0.0,NaN

In [7]:
#### REPLACE MISSING VALUES IN COLUMNS WE WANT ####
df_2024.fillna(0, inplace=True)
df_2024.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,02/01/2024,Vente,"346,50",LE DELIVRE,1230.0,CHALEY,1,76,0,0.0,0,0.0,0.0,99.0
1,03/01/2024,Vente,"10000,00",CHEVRY DESSOUS,1170.0,CHEVRY,1,103,0,0.0,0,0.0,0.0,115.0
2,08/01/2024,Vente,"249000,00",PIN HAMEAU,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,497.0
3,03/01/2024,Vente,"329500,00",DU JURA,1170.0,GEX,1,173,2,3.0,Dépendance,0.0,0.0,0.0
4,03/01/2024,Vente,"329500,00",DU JURA,1170.0,GEX,1,173,2,3.0,Dépendance,0.0,0.0,0.0

In [8]:
#### CHECK TYPE ####
df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566643 entries, 0 to 1566642
Data columns (total 14 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Date mutation              1566643 non-null  object
 1   Nature mutation            1566643 non-null  object
 2   Valeur fonciere            1566643 non-null  object
 3   Voie                       1566643 non-null  object
 4   Code postal                1566643 non-null  float64
 5   Commune                    1566643 non-null  object
 6   Code departement           1566643 non-null  object
 7   Code commune               1566643 non-null  int64
 8   Nombre de lots             1566643 non-null  int64
 9   Code type local            1566643 non-null  float64
 10  Type local                 1566643 non-null  object
 11  Surface reelle bati        1566643 non-null  float64
 12  Nombre pieces principales  1566643 non-null  float64
 13  Surface terrain            1566643 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 167.3+ MB

In [9]:
#### CONVERTS TO THE RIGHT TYPE ####

category_convert = ['Nature mutation', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune', 'Code type local', 'Type local']
df_2024[category_convert] = df_2024[category_convert].astype('category')

df_2024['Date mutation'] = pd.to_datetime(df_2024['Date mutation'], errors = 'coerce')

df_2024['Valeur fonciere']=df_2024['Valeur fonciere'].replace({'\xa0':'',',':'.'}, regex=True)
df_2024['Valeur fonciere']=pd.to_numeric(df_2024['Valeur fonciere'], errors='coerce')

df_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566643 entries, 0 to 1566642
Data columns (total 14 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Date mutation              503183 non-null   datetime64[ns]
 1   Nature mutation            1566643 non-null  category
 2   Valeur fonciere            1566643 non-null  float64
 3   Voie                       1566643 non-null  category
 4   Code postal                1566643 non-null  category
 5   Commune                    1566643 non-null  category
 6   Code departement           1566643 non-null  category
 7   Code commune               1566643 non-null  category
 8   Nombre de lots             1566643 non-null  int64
 9   Code type local            1566643 non-null  category
 10  Type local                 1566643 non-null  category
 11  Surface reelle bati        1566643 non-null  float64
 12  Nombre pieces principales  1566643 non-null  float64
 13  Surface terrain            1566643 non-null  float64
dtypes: category(8), datetime64[ns](1), float64(4), int64(1)
memory usage: 104.1 MB

In [10]:
#### CHECK FOR DUPLICATES ####
df_2024.duplicated().sum()

202618

In [11]:
#### DELETE DUPLICATES ####

df_2024.drop_duplicates(keep='last', inplace=True)
df_2024.duplicated().sum()

0

In [12]:
df_2024.head()

,Date mutation,Nature mutation,Valeur fonciere,Voie,Code postal,Commune,Code departement,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain
0,2024-02-01,Vente,346.5,LE DELIVRE,1230.0,CHALEY,1,76,0,0.0,0,0.0,0.0,99.0
1,2024-03-01,Vente,10000.0,CHEVRY DESSOUS,1170.0,CHEVRY,1,103,0,0.0,0,0.0,0.0,115.0
2,2024-08-01,Vente,249000.0,PIN HAMEAU,1290.0,LAIZ,1,203,0,0.0,0,0.0,0.0,497.0
4,2024-03-01,Vente,329500.0,DU JURA,1170.0,GEX,1,173,2,3.0,Dépendance,0.0,0.0,0.0
5,2024-03-01,Vente,329500.0,DU JURA,1170.0,GEX,1,173,1,3.0,Dépendance,0.0,0.0,0.0

In [13]:
#### SAVE DATAFRAME ####

#df_2024.to_csv('df_2024.csv', index=False)